# OS
.DS_Store/

# Vagrant
.vagrant/
/html/

# Ansible
playbook.retry

# Python
*.py[cod]

# IDEs
.idea
.phpstorm-oxid.meta.php
nbproject/
.buildpath
.project
.settings/

# OXID
/htdocs/log/EXCEPTION_LOG.txt
/htdocs/tmp/*
/htdocs/export/*
/htdocs/cache/*
/htdocs/setup/
/htdocs/out/downloads/*
/htdocs/out/media/*
/htdocs/out/pictures/generated/*
/htdocs/out/pictures/ddmedia/thumbs/*

# Installed by Composer
/htdocs/modules/vendor/
/htdocs/modules/marm/oxsearch/vendor/

# Installed by NPM
/htdocs/application/views/mbgtcresponsive/node_modules/
